#SpeechBubble2 {
	text-align: center;
	font-size: 1.8em;
    position: absolute;
    right: 60%;
    top: 40%;
	background: rgba(244, 158, 9, 0.575);
	border-radius: 175px / 85px;
	background-image: linear-gradient(to bottom, rgba(244, 158, 9, 0.555) 0%, rgba(243, 205, 140, 0.966) 100%);
	width: 350px;
	height: auto;
	min-height: 175px;
	max-height: 250px;
	padding: 1.5em;
}

#SpeechBubble2.AnimatingBubble2 {
	animation-name: bounce;
	animation-duration: 0.5s;
	
}
#SpeechBubble2:after {
	overflow: hidden;
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 2.1em solid transparent;
	border-top-color: rgba(243, 205, 140, 0.966);
	border-bottom: 0;
	border-left: 0;
	margin-left: -1em;
	margin-bottom: -2em;
}

@keyframes bounce {
	0% {
	  transform: scale(0);
	}
	50% {
	  transform: scale(1.25);
	}
	100% {
	  transform: scale(1);
	}
  }