#SpeechBubble3 {
	text-align: center;
	font-size: 2.1em;
    position: absolute;
    left: 60%;
    bottom: 5%;
	background: rgba(243, 87, 89, 0.801);
	border-radius: 4em;
	background-image: linear-gradient(to bottom, rgba(243, 107, 109, 0.815) 0%, rgba(245, 165, 166, 0.925) 100%);
    min-width: 150px;
    max-width: 450px;
	height: auto;
	min-height: 100px;
	max-height: 250px;
	padding: 1.2em;
}

#SpeechBubble3.AnimatingBubble3 {
	animation-name: bounce;
	animation-duration: 0.3s;
}
#SpeechBubble3:after {
	overflow: hidden;
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.3em solid transparent;
	border-top-color: rgba(243, 162, 164, 0.925);
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.594em;
	margin-bottom: -1.187em;
}

@keyframes bounce {
	0% {
	  transform: scale(0);
	}
	50% {
	  transform: scale(1.25);
	}
	100% {
	  transform: scale(1);
	}
  }