.dash {
	border-top: 1px dashed black;
}
.btn {
	width: 50%;
	
}

.btn-quote-ajatus {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(31, 181, 144, 0.801);
	border: solid 3px #595859;
}

.btn-quote-tsemppi {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(244, 158, 9, 0.801);
	border: solid 3px #595859;
	
}

.btn-quote-kiroilu {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(242, 76, 79, 0.801);
	border: solid 3px #595859;
}