@media screen and (max-width: 420px) {
.p {
	font-weight: 250px;
}

/* image not visible in mobile */
.kuva {
	display: none;
}

/* speech bubble smaller in mobile*/
p.quote_text {
	position: relative;
	width: 150px;
	height: auto;
	min-height: 70px;
	padding: 1.5em;
	background: #FFFFFF;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 10px;
	border: #000000 solid 2px;
	margin-left: 80px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
	overflow-wrap: break-word;
  }
  p.quote_text:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 33px;
  }
  p.quote_text:before {
	font-size: 7em;
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 17px 17px 17px 0;
	border-color: transparent #000000;
	display: block;
	width: 0;
	z-index: 0;
	left: -20px;
	top: 31px;
  }
  .puhekupla {
	text-align: center;
  } 
  .quote {
	display: inline-block;
  }
	}

@media screen and (min-width: 321px) and (max-width: 768px) {
.p {
	font-weight: 700;
	}
}

@media screen and (min-width: 769px) {
.p {
	font-weight: 900;
	}
}

.title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 40px;
	color: #F24C4E;
	
}

.kuvailu {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	color: #898989;
}

.dash {
	border-top: 1px dashed #595859;
  
  }

.btn {
	width: 50%;
	
}

.btn-quote-ajatus {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(31, 181, 144, 0.801);
	border: solid 3px #595859;
}

.btn-quote-tsemppi {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(244, 158, 9, 0.801);
	border: solid 3px #595859;
	
}

.btn-quote-kiroilu {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(242, 76, 79, 0.801);
	border: solid 3px #595859;
}
p.quote_text {
	position: relative;
	width: 350px;
	height: auto;
	min-height: 200px;
	padding: 1.5em;
	background: #FFFFFF;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 10px;
	border: #000000 solid 3px;
	margin-left: 80px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
	overflow-wrap: break-word;
  }
  p.quote_text:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 33px;
  }
  p.quote_text:before {
	font-size: 10em;
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 17px 17px 17px 0;
	border-color: transparent #000000;
	display: block;
	width: 0;
	z-index: 0;
	left: -20px;
	top: 31px;
  }
  .puhekupla {
	text-align: center;
  }
  .quote {
	display: inline-block;
  }
  .copy {
	font-size: 12px;
  }
.btn {
	width: 50%;
	
}

.btn-quote-ajatus {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(31, 181, 144, 0.801);
	border: solid 3px #595859;
}

.btn-quote-tsemppi {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(244, 158, 9, 0.801);
	border: solid 3px #595859;
	
}

.btn-quote-kiroilu {
	margin-right: 10%;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	background-color: rgba(242, 76, 79, 0.801);
	border: solid 3px #595859;
}
