.title {
	font-size: 40px;
	color: rgb(31, 181, 161);
	padding-top: 1.5%;
	padding-bottom: 2%;
}

.kuva {
	padding-top: 7%;
}

.btngroup {
	display: block;
	padding-bottom: 7%;
}


/* https://designmodo.com/3d-css3-button/ */
.btn {
  width: 190px;
  height: 60px;
  /* margin-right: 4%;*/
  margin-bottom: 4%;
  font-size: 1.4em;
  color: #faf8f8;
  letter-spacing: 0.1em;
  cursor: pointer;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(240, 134, 136, 0.911);
  text-shadow: 0px -0.2px 0px #a1a1a179;
  box-shadow: 2px 4px 0px 0px #8f8d8da2, 2px 4px 10px 0px rgba(87, 87, 87, 0.63), inset 0px 1px 0px rgba(128, 115, 115, 0.473), inset 0px 0px 3px rgba(194, 192, 192, 0.5);
  transition: all .4s ease-in-out;
  background-color: rgba(242, 76, 79, 0.719);
  background-image: linear-gradient(to bottom, rgba(182, 50, 53, 0.897) 0%, rgb(214, 93, 95) 100%);
}


.btn:hover {
	box-shadow: 0px 15px 25px -5px rgba(darken(rgb(105, 94, 70), 40%));
	transform: scale(1.05)
}
.btn:active {
	background-image: linear-gradient(to bottom, rgba(240, 38, 41, 0.74) 0%, rgba(242, 76, 79, 0.719) 100%);
	box-shadow: 0px 5px #2b638f, 0px 1px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	transform: translate(0, 4px);
	
}

.copy {
	font-size: 12px;
	text-align: center;
}

.bubble {
	margin-bottom: 8%;
}

@media only screen and (max-width: 420px) {
.kuvailu {
	font-size: 10px;
}
/* image not visible in mobile */
.kuva, .copy {
	display: none !important;
}
/*buttons smaller in mobile */
.btn {
	height: 30px;
	width: 100px;
	font-size: 0.6em;
	border-radius: 5px
}
/* title smaller in mobile */
.title {
	font-size: 20px;
}

  
  .whole {
	  display: flex !important;
	  flex-direction: column !important;
  }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
.p {
	font-size: 300px;
	}
.kuva {
	height: 400px;
}
.btn {
	height: 40px;
	width: 110px;
	font-size: 0.7em;
	border-radius: 5px
}

  
  .puhekupla .whole {
	text-align: center;
  } 
  .quote .kuvailucontainer {
	display: inline-block;
  }
}



