h1 {
  text-align: center;
}

body {
    font-family: 'Lato', sans-serif;
    align-items: center;
  }

  ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .board-row {
    display: flex;
    flex-direction: column;
  }

  .status {
    margin-bottom: 10px;
  }

  #bingo {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
  }

  #square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 170px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 170px;
    cursor: pointer;
  }

  .orangeButton{
    background-color: #F49E09!important;
    color: black;
  }

  .whiteButton{
    background-color: white;
    color: black;
  }
  
  .bingoButton{
    background-color: #F24C4E!important;
    color: #FFFFFF;
  }

  .alert-success {
    color: #FBFBFB !important;
    background-color: #1FB58F!important;
    border-color: #1FB58F !important;
    font-size: 1.5vmax;
  }

  .alert-heading {
    font-size: 2vmax;
  }

  p {
    margin-bottom: 0rem !important;
  }

  #bingobutton {
    background-color: #1FB58F !important;
    border-color: #898989 !important;
    margin-bottom: 1% !important;
    font-size: 1.5vmax !important;
    transition: all .3s;
    border: 1px solid #1FB58F;
    text-shadow: 0px -0.2px 0px #a1a1a179;
    box-shadow: 2px 4px 0px 0px #8f8d8da2, 2px 4px 10px 0px rgba(87, 87, 87, 0.63), inset 0px 1px 0px rgba(128, 115, 115, 0.473), inset 0px 0px 3px rgba(194, 192, 192, 0.5);
    transition: all .4s ease-in-out;
  }

  .btn:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(rgb(105, 94, 70), 40%));
    transform: scale(1.05)
  }

.btn-outline-success {
    color: white;
    border-color: #1FB58F;
}

  #refreshbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0 !important;
  }

  .bingotitle {
    font-size: 8vw !important;
    color: rgb(31, 181, 161);
    padding-top: 1.5%;
    padding-bottom: 5%;
}

  @media only screen and (max-width: 1024px) {
    #square {
      font-size: 14px !important;
      font-weight: bold;
      height: 150px !important;
      margin-right: -1px !important;
      margin-top: -1px !important;
      text-align: center !important;
      width: 150px !important;
    }

    #bingobutton {
      font-size: 1vmax !important;
    }
  
  }

  @media only screen and (max-width: 414px) {
    #square {
      font-size: 6px !important;
      font-weight: bold;
      height: 60px !important;
      margin-right: -1px !important;
      margin-top: -1px !important;
      padding: 0 !important;
      text-align: center !important;
      width: 60px !important;
    }
  }

  @media only screen and (max-width: 375px) {
    #square {
      font-size: 6px !important;
      font-weight: bold;
      height: 55px !important;
      margin-right: -1px !important;
      margin-top: -1px !important;
      padding: 0 !important;
      text-align: center !important;
      width: 55px !important;
    }
  }

  @media only screen and (max-width: 320px) {
    #square {
      font-size: 6px !important;
      font-weight: bold;
      height: 48px !important;
      margin-right: -1px !important;
      margin-top: -1px !important;
      padding: 0 !important;
      text-align: center;
      width: 48px !important;
    }
  }

  @media print {
    #refreshbtn {
      display: none;
    }
    a:after {
      content: "("attr(href)")";
    }
    a.nav-item.nav-link {
      display: none;
    }
  }