h1 {
  text-align: center;
}

body {
    font-family: 'Lato', sans-serif;
    align-items: flex-end;
  }

  ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .board-row {
    display: flex;
    flex-direction: column;
  }

  .status {
    margin-bottom: 10px;
  }

  #bingo {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  #square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 200px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 200px;
    cursor: pointer;
  }

  .orangeButton{
    background-color: #F49E09!important;
    color: black;
  }

  .whiteButton{
    background-color: white;
    color: black;
  }
  .bingoButton{
    background-color: #F24C4E!important;
    color: black;
  }

  .alert-success {
    color: #FBFBFB !important;
    background-color: #1FB58F!important;
    border-color: #1FB58F !important;
    font-size: 2.5vmax;
  }

  .alert-heading {
    font-size: 5vmax;
  }

  p {
    margin-bottom: 0rem !important;
  }

  #bingobutton {
    background-color: #1FB58F !important;
    border-color: #898989 !important;
    margin-bottom: 1% !important;
    font-size: 2vmax !important;
  }

  #refreshbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: auto;
  }

  .bingotitle {
    font-size: 40px!important;
    color: rgb(31, 181, 161);
    padding-top: 1.5%;
    padding-bottom: 5%;
}

  @media only screen and (max-width: 1024px) {
    #square {
      font-size: 14px;
      font-weight: bold;
      height: 150px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 150px;
    }

    #bingobutton {
      font-size: 1vmax !important;
    }
  
  }

  @media only screen and (max-width: 414px) {
    #square {
      font-size: 6px;
      font-weight: bold;
      height: 60px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 60px;
    }

    .bingotitle {
      font-size: 4vmax!important;
    }
  }

  @media only screen and (max-width: 375px) {
    #square {
      font-size: 6px;
      font-weight: bold;
      height: 55px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 55px;
    }
  }

  @media only screen and (max-width: 320px) {
    #square {
      font-size: 6px;
      font-weight: bold;
      height: 48px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 48px;
    }
  }

  @media print {
    #refreshbtn {
      display: none;
    }
    a:after {
      content: "("attr(href)")";
    }
    a.nav-item.nav-link {
      display: none;
    }
  }