h1 {
  text-align: center;
}

body {
    font-family: 'Lato', sans-serif;
    align-items: flex-end;
  }

  ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .board-row {
    display: flex;
    flex-direction: column;
  }

  .status {
    margin-bottom: 10px;
  }

  #bingo {
    display: flex;
    justify-content: center;
    border: 1px solid #999;
    padding: 40px;
  }

  #square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 200px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 200px;
    cursor: pointer;
  }

  .orangeButton{
    background-color: #F49E09!important;
    color: black;
  }

  .whiteButton{
    background-color: white;
    color: black;
  }
  .bingoButton{
    background-color: #F24C4E!important;
    color: black;
  }

  .alert-success {
    color: #FBFBFB !important;
    background-color: #1FB58F!important;
    border-color: #1FB58F !important;
    font-size: 25px;
  }

  .alert-heading {
    font-size: 30px;
  }

  .btn-outline-success {
    background-color: #1FB58F!important;
    border-color: #898989 !important;
  }

  #refreshbtn {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  @media only screen and (max-width: 1024px) {
    #square {
      font-size: 14px;
      font-weight: bold;
      height: 150px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 150px;
    }
  }

  @media only screen and (max-width: 414px) {
    #square {
      font-size: 6px;
      font-weight: bold;
      height: 60px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 60px;
    }
  }

  @media only screen and (max-width: 375px) {
    #square {
      font-size: 6px;
      font-weight: bold;
      height: 55px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 55px;
    }
  }

  @media only screen and (max-width: 320px) {
    #square {
      font-size: 6px;
      font-weight: bold;
      height: 48px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 48px;
    }
  }